
.box{
    display: inline-flex;
    margin-top: 5%;
}

.slider {
    position: relative;
    width: 55%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.slider img {
    width: 55%;
    height: 90%;
    object-fit: cover;
}
  .img {
    position: absolute;
    margin-top: 10%;
    object-fit: cover;
    transition: all 0.5s ease;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }
  
  #prev, #next {
    position: absolute;
    bottom: 50px;
    background-color: rgb(107, 101, 101);
    border: none;
    padding: 8px 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    
  }
  
  #prev:hover, #next:hover {
    background-color: rgba(255, 255, 255, 1);
  }
.slider img {
    margin-bottom: 15%;
}
  #prev {
    
    left: 44%;
    bottom: 0%;
}
  
  #next {
    right: 44%;
    bottom: 0%;

  }

 .text{
    margin-top: 8%;
    font-size: 25px;
    margin-left: 10%;
    max-width: 30%;
    font-style: italic;
    justify-content: center;
    font-style: oblique;
    letter-spacing: 2px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
