
.nav-link {
    color: black !important;
  }
  .nav-link.active {
    color: rgb(56, 49, 49) !important;
    background-color: rgb(248, 247, 247) !important;
    border: 1px solid rgb(160, 157, 157) !important;
  }
    

.header2{
display: inline-block;
animation: rotacia 8s linear infinite;
transform-style: preserve-3d;
display: flex;
justify-content: center;

}

@keyframes rotacia {
    0% {
      transform: rotateY(0deg);
    }
    60% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }





